html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Gt america", sans-serif;
  text-align: center;
  background-image: url("./pavebackground.svg");
  color: #001b56;
  height: 100%;
}

.Navbar {
  display: flex;
  flex-flow: row;
  top: 0;
  padding: 1.5rem 0;
  font-weight: bold;
  margin: 0 100px;
  justify-content: space-between;
}

.NavBarMain {
  font-size: 2rem;
  width: 70%;
}

.NavItemContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  margin: 10px;
}

input {
  margin: 10px;
}

.Section {
  display: flex;
  flex-flow: column;
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}
