html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-image: url('./pavebackground.svg');
  color: #001b56;
  height: 100%;
}

.Navbar {
  display: flex;
  flex-flow: row;
  top: 0;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: 'Gt america', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}

.NavBarMain {
  font-size: 2rem;
  width: 70%;
}

.NavItemContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.Section {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}
